<div class="cs-debug-text">Nodes Index</div>
<h3>All Nodes</h3>
<ul>
  {{#each node in model.nodes}}
  {{#link-to 'nodes.show' node}}
      <li>{{ node.id }} : {{ node.label }}</li>
    {{/link-to}}
  {{/each}}  
</ul>

<div> Total Edges: {{model.edges.length}}</div>
<ul>
  {{#each edge in model.edges}}
    <li>
      {{ edge.id }} : from node {{edge.from}} to {{edge.to}}
    </li>
  {{/each}}  
</ul>